body{
	background-image: url("bg.jpg");
	background-repeat: repeat-y;
	align-content: center;
	text-align: center;
	color: purple;
	font-size:190%;

	
}	
ul {
    list-style-type: none;
    color: #A569BD;
}


img { 
	border: 10px solid black;
    padding: 2px;
 }


.body{
	width:800px;
	text-align: center;
	align-content: center;


}
h2{
	align-content: center;
	text-align: center;
	color: purple;
	font-size:150%;
	width:900px;

}

#home{
	color: hotpink;
	border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(border.png) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(border.png) 30 stretch; /* Opera 11-12.1 */
    border-image: url(border.png) 30 stretch;
}

#homeimage{
	padding:3px;
    border:10px solid #021a40;

}

.container-fluid {
    width: 1000px;
  margin: 0 auto; 
}



.navbar{
	background-color: black;
	width:950px;
	color: pink;
	text-align: center;
	align-content: center;
}

a {
    color: hotpink;
}
a:link {
    color: pink;
}

/* visited link */
a:visited {
    color: hotpink;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: pink;
}

