body{
	background-image: url("bg.jpg");
	background-repeat: repeat;
	align-content: center:;
	text-align: center;
	

}

.body{
	width:950px;
	text-align: center;

}


#home{
	color: pink;
	text-align: center;
}



.container-fluid {
    width: 1000px;
  margin: 0 auto; 
}



.navbar{
	background-color: black;
	width:950px;
	color: pink;
	text-align: center;
	align-content: center;
}

a{
	color:pink;
}
